extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                div(class="alert alert-success") Chúc mừng bạn đã đặt hàng thành công! Mã đơn hàng của bạn là <b>OD00000003</b>.

        .row
            .col-12
                +box-head("Thông tin khách hàng")
                table(class="table table-bordered")
                    tbody
                        tr
                            td Họ tên
                            td Lê Văn A
                        tr
                            td Số điện thoại
                            td 0123456789
                        tr
                            td Ghi chú
                            td Nội dung ghi chú...
                        tr
                            td Ngày đặt
                            td 11:51 - 22/11/2023
        .row
            .col-12
                +box-head("Danh sách tour")
                table(class="table table-bordered")
                    thead
                        tr
                            th STT
                            th Ảnh
                            th Tiêu đề
                            th Giá
                            th Số lượng
                            th Tổng tiền
                    tbody
                        tr
                            td 1
                            td
                                img(src="https://backend.daca.vn/assets/tour/images/tour-ha-long.jpg" alt="Tour Hạ Long" width="80px")
                            td
                                a(href=`/tours/detail/:slugTour`) Tour Hạ Long
                            td 1,200,000đ
                            td 1
                            td 1,200,000đ

                h5(class="text-right mb-4") Tổng đơn hàng: 1,200,000đ